/* 
    css adicional para a pagina de formulario de produtos
*/

.container-form {
    background-color: #fff;
}

.actios-icons {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.actios-icons div{
    margin: 3px;
    cursor: pointer;
    color: #000 !important;
}

.actios-icons div span{
    color: #000 !important;
}

.btn_create {
    float: right;
}

.alert-danger {
    margin-top: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border: 0.1px solid;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}

.alert-danger li {
    margin-left: 5px;
}