/* 
    css adicional para a pagina de formulario de produtos
*/

.container-form {
    background-color: #fff;
}

.actios-icons {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}
.actios-icons div{
    margin: 3px;
    cursor: pointer;
    color: #000 !important;
}

.actios-icons div span{
    color: #000 !important;
}
